.App {
  text-align: center;
}
/* ////////////////////////////////////////////////////////*/
/* NavBar Styling */
/* ////////////////////////////////////////////////////////*/
/* .nav--primary {
  height: 160px;

} */

.nav-container {
  /* background-color: #F1F2EE; */
  background-color: ;
  height: 60px;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: start;
  align-items: center;
  z-index: 2;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  list-style: none;
}

.nav-menu {
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  margin-top: 25px;
  transition: 850ms;
}

.nav-menu-active {
  width: 250px;
  height: 100vh;
  min-height: 500px;
  display: flex;
  top: 0;
  position: fixed;
  right: 0;
  transition: 350ms;
  background-color: #F1F2EE;
  z-index: 1;
  overflow: scroll;
}

.nav-text{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
  right: 0;
}

.nav-text a{
  text-decoration: none;
  font-size: 20px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-text-signup{
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
  /* right: 0; */
  bottom: 0;
  position: absolute;
  width: 100%;
}

.nav-text-signup a{
  text-decoration: none;
  font-size: 20px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text-signup a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}



.nav-logo {
    
}

.nav-icon {
  display: flex;
  right: 40px;
  position: fixed;
}

/* ////////////////////////////////////////////////////////*/
/* Home Styling */
/* ////////////////////////////////////////////////////////*/

.home--primary {

}

.header-banner {
  align-items: center;

}

/* ////////////////////////////////////////////////////////*/
/* HomeBanner */
/* ////////////////////////////////////////////////////////*/
.home-banner {
  background-color: #0F110C;
  background-image: url('./components/imgs/mangrove.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 360px;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  display: flex;
}

.temp-widget {
  color: #F1F2EE;
  width: 25%;
  height: 160px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #67AAF9;
  margin: 30px 200px 30px 60px;
}

.events-widget {
  color: #F1F2EE;
  width: 33%;
  height: 160px;
  display: flex;
  float: right;
  background-color: #698F3F;
  position: relative;
}
/* ////////////////////////////////////////////////////////*/
/* SearchBar */
/* ////////////////////////////////////////////////////////*/

.search--primary {

}

.search-input {
  display: flex;
}

.search-icon {
  border: solid 1px;
}

/* ////////////////////////////////////////////////////////*/
/* RadarBanner */
/* ////////////////////////////////////////////////////////*/

.radar-banner{

}

.radar-container {
  
}

/* ////////////////////////////////////////////////////////*/
/* FeedPage */
/* ////////////////////////////////////////////////////////*/

.feed-container {
  height: 100vh;
  /* background-color: #EFF9F0; */
  /* background-color: #698F3F; */
  background-color: #CFEBDF;
  width: 100%;
  text-align: center;
}

.feed-header {
  width: 100%;
  /* margin: 20px 0 80px 0; */
  padding: 20px 0 80px 0;
}

.image-feed{
  flex: 1 1 auto;
}
